@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito';
}
body{
	text-align: center;
	color: #262626;
	background: url(img/dino.png);
	background-size: cover;
}
h1{
	color: white;
	padding: 50px;
}
.container {
	max-width: 700px;
	margin: auto;
	border: 2px solid #000;
	border-radius: 20px;
	display: flex;
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	animation: animateBackground 10s infinite alternate;
}

@keyframes animateBackground {
	0% {
		background-color: #f3ead7;
	}
	50% {
		background-color: #e4a02b;
	}
	100% {
		background-color: #e9daa4;
	}
}
.izquierdo{
	width: 70%;
	font-size: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 40px;
	height: 50px;
}
.derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opcion{
	width: 80px;
	height: 80px;
	border: 1px solid  #000;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opcion:hover{
	background-color: #262626;
}

.paint-splash-button {
	width: 100px;
	height: 100px;
	background-color: #ff69b4;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, sans-serif;
	font-size: 85px;
	color: #010101;
	cursor: pointer;
	border: none;
	outline: none;
	margin: 10px;
	overflow: hidden;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.paint-splash-button:before {
	content: "";
	width: 120px;
	height: 120px;
	background-color: #ff69b4;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: -10px;
	opacity: 0.7;
	transform: scale(1.5);
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

html, body {
	height: 100%;
}
body {
	text-align: center;
	background-color: hsla(230, 40%, 50%, 1);
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

